:root {
    --color: #33FFCE;
    --hoverColor: blueviolet;
    --fontColor: #2CD4E1;
    --background: #36393e;
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 75px;
    margin: 25px 0;
    color: var(--fontColor);
}

header a:link {
    text-decoration: none;
    cursor: pointer;
}

header a:visited {
    color: var(--fontColor);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--fontColor);
}

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin: 10px 0;

}

.start-message {
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
}

.start-btn {
    text-align: center;
    padding: 15px;
    margin: 10px 0;
    color: var(--hoverColor);
    background-color: var(--color);
    border: 3px var(--hoverColor) solid;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 15%;
}

.start-btn:hover {
    background-color: var(--hoverColor);
    border: 3px var(--color) solid;
    cursor: pointer;
    color: var(--color);
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    padding: 10px 15px;
}

.answer-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.answers {
    max-width: 500px;
    max-height: 200px;
    text-align: left;
    margin: 5px 0;
    padding: 10px 15px;
    color: var(--hoverColor);
    background-color: var(--color);
    border: 3px var(--hoverColor) solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.answers:hover {
    background-color: var(--hoverColor);
    border: 3px var(--color) solid;
    cursor: pointer;
    color: var(--color);
}